In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
files = glob.glob("../data/*.csv")

In [3]:
df = pd.DataFrame()
for f in files:
    cdf = pd.read_csv(f)
    df = df.append(cdf)

In [4]:
df.head()

              tweet_id
0  1254198506937626624
1  1254198508082454528
2  1254198507646435328
3  1254198507579346945
4  1254198507424100353

In [5]:
df.shape

(28324994, 1)

In [19]:
df.to_csv('coronavirus.csv', index=False)