In [14]:
import pandas as pd
import numpy as np
import glob

In [15]:
files = glob.glob("../data/*.csv")

In [16]:
df = pd.DataFrame()
for f in files:
    cdf = pd.read_csv(f)
    df = df.append(cdf)

In [17]:
df.head()

,tweet_id,created_at,loc,text,user_id,verified
0,1246950749415903237,2020-04-06 00:00:00+00:00,TX,twingatez dallas corona free retweet,u1167871,0
1,1246950753735827456,2020-04-06 00:00:01+00:00,CO,live everlogan heard this corona virus live pa...,u1167872,0
2,1246950754033766400,2020-04-06 00:00:01+00:00,MA,me_think_free anyone dies from corona blame de...,u624559,0
3,1246950755501846529,2020-04-06 00:00:01+00:00,IL,these deaths aside corona improved life drasti...,u367185,0
4,1246950760903999494,2020-04-06 00:00:03+00:00,NC,aptly_engineerd what going year corona 2020 in...,u114084,0

In [18]:
df.shape

(5945972, 6)

In [19]:
df.to_csv('coronavirus.csv', index=False)